
.kavya{
    background-color: #EDC9AF;
     height: 100%;

}.categories-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: #704214; 
 
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #DAA520; 
  text-shadow: 1px 1px 1px #8B4513; 
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.category-card {
  background-color: #8B4513; 
  border: 2px solid #CC5500; 
  color: #DAA520; 
  padding: 25px 15px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(140, 69, 19, 0.5); 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  user-select: none;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(204, 85, 0, 0.75); 
    border-color: #DAA520; 
    color: #CC5500; 
  }
}

.category-title {
  font-size: 1.2rem;
  font-weight: 600;
}

