.anjalii {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#bd7b38,#e76f51);
  padding: 2rem;
}

.forgot-password-container {
 background-color: #8B4513; 
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  width: 100%;
  text-align: center;
  color: #DAA520; 

}

.forgot-password-container h2 {
  font-size: 1.8rem;
  color: #DAA520; 
  margin-bottom: 1.2rem;
  text-shadow: 1px 1px #704214; 
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

input[type="email"] {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 2px solid #704214; 
  outline: none;
  font-size: 1rem;
  background-color: #EDC9AF; 
  color: #704214; 
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.3rem;
}

button {
  padding: 0.5rem 1.5rem;
  background-color: #CC5500; 
  color: white;
  border: none;
  border-radius: 15px !important;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: darken(#CC5500, 10%);
  transform: translateY(-2px);
}
